In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("auto_data.csv", na_values=["?"])

In [3]:
df.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
5,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,15250.0
6,1,158.0,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,17710.0
7,1,NaN,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,18920.0
8,1,158.0,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140.0,5500.0,17,20,23875.0
9,0,NaN,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.40,7.0,160.0,5500.0,16,22,NaN

In [4]:
df = df[["make", "fuel-type", "aspiration", "body-style", "price"]]

In [5]:
df.head(10)

          make fuel-type aspiration   body-style    price
0  alfa-romero       gas        std  convertible  13495.0
1  alfa-romero       gas        std  convertible  16500.0
2  alfa-romero       gas        std    hatchback  16500.0
3         audi       gas        std        sedan  13950.0
4         audi       gas        std        sedan  17450.0
5         audi       gas        std        sedan  15250.0
6         audi       gas        std        sedan  17710.0
7         audi       gas        std        wagon  18920.0
8         audi       gas      turbo        sedan  23875.0
9         audi       gas      turbo    hatchback      NaN

In [6]:
df.dtypes

make           object
fuel-type      object
aspiration     object
body-style     object
price         float64
dtype: object

In [7]:
df_original = df.copy()

In [8]:
df = df[['body-style', 'fuel-type']]

In [9]:
df.head(3)

    body-style fuel-type
0  convertible       gas
1  convertible       gas
2    hatchback       gas

In [10]:
df['body-style'].unique()

array(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
      dtype=object)

In [11]:
df['body-style'][0] = np.nan

In [12]:
df['body-style'] = df['body-style'].fillna(df['body-style'].mode())

In [13]:
df

      body-style fuel-type
0          sedan       gas
1    convertible       gas
2      hatchback       gas
3          sedan       gas
4          sedan       gas
..           ...       ...
200        sedan       gas
201        sedan       gas
202        sedan       gas
203        sedan    diesel
204        sedan       gas

[205 rows x 2 columns]

In [14]:
df['body-style'].unique()

array(['sedan', 'convertible', 'hatchback', 'wagon', 'hardtop'],
      dtype=object)

In [15]:
df['body-style'] = df['body-style'].replace(['sedan', 'convertible', 'hatchback', 'wagon', 'hardtop'], [0, 1, 2, 3, 4])

In [16]:
df.head(10)

   body-style fuel-type
0           0       gas
1           1       gas
2           2       gas
3           0       gas
4           0       gas
5           0       gas
6           0       gas
7           3       gas
8           0       gas
9           2       gas

In [17]:
# You can also replace using something like this

# my_values = {
#     "body-style": {"convertible": 0, "sedan": 1},
#     "fuel-type": {"gas": 0, "diesel": 1}
# }

# df.replace(my_values, inplace=True)

In [18]:
df = df_original[["body-style", "fuel-type"]]

In [19]:
df_body_type = pd.get_dummies(df["body-style"], dtype=int)

In [20]:
pd.get_dummies(df["body-style"], dtype=int)

     convertible  hardtop  hatchback  sedan  wagon
0              1        0          0      0      0
1              1        0          0      0      0
2              0        0          1      0      0
3              0        0          0      1      0
4              0        0          0      1      0
..           ...      ...        ...    ...    ...
200            0        0          0      1      0
201            0        0          0      1      0
202            0        0          0      1      0
203            0        0          0      1      0
204            0        0          0      1      0

[205 rows x 5 columns]

In [21]:
df_final = df_body_type.join(df_original['price'])

In [22]:
df_final = df_final.dropna()

In [23]:
X = df_final[df_body_type.columns]

In [24]:
y = df_final['price']

In [25]:
y.unique()

array([13495., 16500., 13950., 17450., 15250., 17710., 18920., 23875.,
       16430., 16925., 20970., 21105., 24565., 30760., 41315., 36880.,
        5151.,  6295.,  6575.,  5572.,  6377.,  7957.,  6229.,  6692.,
        7609.,  8558.,  8921., 12964.,  6479.,  6855.,  5399.,  6529.,
        7129.,  7295.,  7895.,  9095.,  8845., 10295., 12945., 10345.,
        6785., 11048., 32250., 35550., 36000.,  5195.,  6095.,  6795.,
        6695.,  7395., 10945., 11845., 13645., 15645.,  8495., 10595.,
       10245., 10795., 11245., 18280., 18344., 25552., 28248., 28176.,
       31600., 34184., 35056., 40960., 45400., 16503.,  5389.,  6189.,
        6669.,  7689.,  9959.,  8499., 12629., 14869., 14489.,  6989.,
        8189.,  9279.,  5499.,  7099.,  6649.,  6849.,  7349.,  7299.,
        7799.,  7499.,  7999.,  8249.,  8949.,  9549., 13499., 14399.,
       17199., 19699., 18399., 11900., 13200., 12440., 13860., 15580.,
       16900., 16695., 17075., 16630., 17950., 18150., 12764., 22018.,
       32528., 34028., 37028.,  9295.,  9895., 11850., 12170., 15040.,
       15510., 18620.,  5118.,  7053.,  7603.,  7126.,  7775.,  9960.,
        9233., 11259.,  7463., 10198.,  8013., 11694.,  5348.,  6338.,
        6488.,  6918.,  7898.,  8778.,  6938.,  7198.,  7788.,  7738.,
        8358.,  9258.,  8058.,  8238.,  9298.,  9538.,  8449.,  9639.,
        9989., 11199., 11549., 17669.,  8948., 10698.,  9988., 10898.,
       11248., 16558., 15998., 15690., 15750.,  7975.,  7995.,  8195.,
        9495.,  9995., 11595.,  9980., 13295., 13845., 12290., 12940.,
       13415., 15985., 16515., 18420., 18950., 16845., 19045., 21485.,
       22470., 22625.])

In [26]:
from sklearn.linear_model import LinearRegression

In [27]:
model = LinearRegression()

In [28]:
model.fit(X, y)

LinearRegression()

In [29]:
model.score(X, y)

0.15618295531748616